<div>
    <h3 style="color: #084B5B; font-weight: bold; text-align: center; text-transform: uppercase;">Contact Information</h3>
</div>
<table width="100%" border="1" cellspacing="0" cellpadding="10" bordercolor="#CCCCCC">
    <tbody>
        <tr>
            <td colspan="2" align="center"
                style="font-family: Arial; font-size: 1em; line-height:17px; text-align:left; color:#666; text-align:center; background-color:#d4ecee ">
                Horizon Educational Institutions<br>
                Rockford University, Manipal <br>
                Udupi, Karnataka - 576104<br>
                Ph : 91 8823 44344 43432 <br>
                E-mail: editorbuzz@horizon.edu.in<br>
                Website : <a routerLink="/" href=""><span style="color:#666">www.horizon.edu.in</span></a></td>
        </tr>
    </tbody>
</table>

<agm-map style="height:500px" [zoom]='16' [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>