<style>
    #course_launch td {
        padding: 0px 5px;
    }

    #welcome_body{
        margin-top: 20px;
    }

    #welcome_body > tr > td{
        padding: 0px 10px;;
    }

    table tr td{
        vertical-align: top;
    }
</style>

<div style="padding: 0px 20px; margin: 2px; background-color: #084B5B;">
    <table style="background-color: #084B5B; color: #ffffff;">
        <tr id="course_launch">
            <td style="width:15%; background-color: #ffffff;">
                <img src="assets/video-recorder.png" width="125" height="auto" />
            </td>
            <td>
                <h4>11/03/2021 - Launching the MFA in Filmmaking</h4>
                <p style="text-align: justify;">
                    Announcing a unique, 2-year online-breif residency MFA, BFA and diploma program in Filmaking led
                    by
                    award-winning independent
                    producer/director/screenwriter and educator Wayne Crawford. Program Highlights: A personalized
                    film
                    education for the training of
                    director/writer/producers. Emphasis on developing the complete filmmaker well versed in story
                    and
                    story structure. A 10-day residency
                    at our campus in Paris, France. Write, produce and direct 3 films of your....
                </p>
            </td>
        </tr>
    </table>
</div>

<div>
    <table id="welcome_body">
        <tr style="text-align: justify; padding: 10px">
            <td style="width: 40%; border-right: 1px solid #000000;">
                <h3>Welcome!</h3>
                <p style="color: #0d6199;">
                    Are you looking for a degree that is available fully online,
                    that is going to make an impact in your life and in your
                    job?
                </p>

                <p style="color: #0d6199;">
                    Are you looking for something different, modem, truly
                    international yet adapted to you and your culture?

                </p>
                <p>
                    Horizons University has the solution for you.
                </p>

                <p>
                    Our mission is to provide the educational experience that
                    fits our students’ needs in any part of the works and
                    contribute to their personal and professional fulfilment.

                </p>

                <p>
                    We provide programs that are flexible in time, that take
                    into. account the person's expenence and that are
                    affordable, We are specialized in distant education but we
                    also offer on-campus programs.
                </p>
                <br>
                <br>
                <div style="background-color: #c0c0c0;">
                    <a routerLink="/programs" style="text-decoration: none;">
                        <img src="assets/windows-icon.jpg" style="width: 80px;">
                        <span> Click here for detailed course information</span>
                    </a>
                </div>
            </td>
            <td style="width: 50%; vertical-align: text-top;">
                <div>
                    <table style="table-layout: fixed;">
                        <tr>
                            <td colspan="2">
                                <h4 style="color: #0d6199;">Campus Study</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Our on-campus programs allow you to interact with faculty and other students during residency periods and complere your work online.
                                    It is another flexible solution that will certainly enahce your professional life.
                                </p>
                            </td>
                            <td style="padding-left: 10px; width:48%;">
                                <img src="assets/Campus_Study_Img.jpeg" style="width: 100%;"/>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr style="border-top: 1px solid #000000;">
                            <td colspan="2">
                                <h4 style="color: #0d6199;">Online Study</h4>
                            </td>
                        </tr>
                        <tr style="border-bottom: 1px solid #000000;">
                            <td style="width: 45%">
                                <img src="assets/Online_Study.jpg" style="width: 95%;"/>
                            </td>
                            <td>
                                <p>
                                    Our online programs allow you to work at your own pace while you keep your job and activities.
                                    You can pursue a quality education without leaving home. 
                                    This option is also less costly and available in any country in the world where you live in.
                                </p>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr style="width: 100%;">
                            <td style="width: 20%;">
                                <img src="assets/1200px-Second_Life_Logo.png" style="width: 100%;" />
                            </td>
                            <td style="width: 70%; padding: 2% 0 0 5%;">
                                <h4>Experience the new Virtual</h4>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding: 2%;">
                                <p>
                                    Horizons University is one of the rare few Universities n the world to offer entire course module in a vrtual cmapus,
                                    along with live presentation from keynote speakers, facilitating learning, communication and interaction amondst the community.. <span style="color: #0000ff; font-weight: bold; cursor: pointer;">Read more..</span>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>