<style>
    h3, h4{
        font-weight:bold
    }
</style>
<div>
    <div style="width:100%; color:#084B5B;">
        <div align="left">
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 100%; text-align: center;">
                            <h3>WEEKLY BUZZ - <span id="current_week">Aug 08 - 13, 2020</span> </h3>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="height:auto; padding-left:15px; padding-right:15px; margin-top:7px; text-align: justify;">
        <table height="100%" align="left">
            <tbody>
                <tr>
                    <td>
                        <h4
                            style="color: #f5720f; text-align:left; font-size:16px;line-height:20px;margin-bottom:10px; margin-top:2px;">
                            MBA/MCA/MTECH students Celebrate Graduation Day-2020</h4>

                        Horizon College of Engineering &amp; Management celebrated the Graduation Day and conferred
                        degrees to MBA/MCA/MTECH students at Horizon Campus.
                        Shri. Ghanshyam Dass -Senior Advisor, KPMG was the Chief Guest. In his inaugural address, he
                        shared his college day experiences and was nostalgic about the entire ceremony. He advised
                        students to stay focused and committed towards their goal and be always rooted and in touch with
                        their alma mater. <br>
                        <br>
                        
                        Mr. Manjunath Bhandary, Chairman, Bhandary Foundation, in his introductory remarks said that, No
                        institute is built by Infrastructure or faculty, instead it is built by the students, and also
                        he said that a student’s success and failure is attached to college which plays vital role in
                        upholding the image of the institute. He advised to the graduates to stand for values in which
                        they have been trained at college and get noticed by the management. He concluded stating that
                        the world is very competitive; hence it is very essential to upgrade continuously, which helps
                        one to survive. <br>
                        <br>

                        Dr. Vishal Samartha, Director, Department of Business administration welcomed the gathering and
                        Dr. U. M. Bhushi, Principal concluded the ceremony by delivering the Vote of Thanks. Ms.
                        Gayathri Shetty, Assistant Professor, Department of Business Administration was the Chief
                        coordinator of the Graduation Day and Ms. Prajwala Preema Rodrigues, Assistant Professor,
                        Department of Business Administration was the host at the event.

                        <br>
                        <br>

                    </td>
                </tr>




                <tr>
                    <td>


                        <h4
                            style="color: #f5720f; text-align:left; font-size:16px;line-height:20px;margin-bottom:10px; margin-top:2px;">
                            Mr. Dayanand Allapur, Vice President &amp; Head HR, Capgemini visits Horizon </h4>
                        
                        Mr. Dayanand Allapur, Vice President &amp; Head HR, Capgemini Business Services India Ltd,
                        Bengaluru and Ms. Swapna Allapur, Vice President - Talent Acquisition and Mobility Leader -
                        Shared Services, Deloitte U.S. India offices visited Horizon and interacted with the
                        Management, faculty members and students.
                        <br>
                        <br>

                        Mr. Dayanand Allapur, said that one should be updated about the current affairs happening across
                        the globe, latest trends in their respective fields and also stressed that one should adapt to
                        the technological advancements. He said it is important to practically implement the knowledge
                        gained and stated that the application beyond academics is essential. He advised to know the
                        level of competition in the modern world to be at the forefront and also to have a unique
                        perspective of accomplishing the task assigned to them.
                        <br>
                        <br>

                        Swapna Allapur spoke about the personal branding. She said it is most important for one to
                        identify who they are and their strengths. Further, she insisted to focus on the same and start
                        working towards making it even more efficient. She said one should be always able to adapt to
                        the work culture of the organization they are serving. Youngsters should have the urge and
                        curiosity to learn new things always.
                        <br>

                        <br>
                    </td>
                </tr>





                <tr>
                    <td width="511">
                        <h4
                            style="color:#f5720f; font-size:16px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;line-height:22px; margin-bottom:5px; margin-top:0px; text-align:left;">
                            Mr. Deepak Thimaya addresses the attendees of Leadership Development Programme</h4>
                        
                            Department of Business Administration hosted a One-day Leadership Development Programme for UG
                        students. Seventy students from various degree colleges participated in the programme. The day
                        began with a brief inaugural session in the presence of Prof S S Balakrishna, Vice Principal,
                        Dr. Vishal Samartha, Director, Department of Business Administration and Prof Karthik Raj
                        Kudroli, Chief Coordinator of the programme. Prof Karthik welcomed the gathering and highlighted
                        the purpose of the day-long event. Prof S S Balakrishna applauded the efforts of the department
                        for being vibrant in contributing to the society through conducting innovative programmes and
                        also helping in developing leadership skills among students. The first session was taken up by
                        Dr. Vishal Samartha whereby she emphasized on the importance of one’s ability to elevate
                        himself/herself to be a leader. She explained the two nuances of life, Rationality and
                        Emotionality and the path a true leader must take while taking crucial decisions in life. She
                        asserted to her concept through stories and real life experiences. Prof. Sushma V took over the
                        next session and led the students to the real life intricacies and challenges one faces in life.
                        She beckoned the students to chalk out SMART goals and work towards it with commitment. She
                        inspired the students to adopt “Throw the box” strategy and to work towards enhancing one’s
                        personality.
                        <br>
                        <br>

                        Mr. Deepak Thimaya, eminent television personality, anchor, writer, educationist, film maker,
                        political analyst, advisor, founder of Verbattle addressed the students on the qualities of a
                        good leader. He explained that the inherent qualities of a true leader is his memory, his
                        commitment towards his goal, his Vision and Passion, his ability to recognize the pain and hard
                        work of his followers, to illuminate light in the lives of downtrodden and helpless people. He
                        said a true leader is always well informed, trustworthy, embodiment of truth and must able to
                        communicate and inspire his followers on a personal level. He truly amazed the listeners by his
                        spontaneous flow of thoughts and his experiences.
                        <br>
                        <br>

                        The fourth session was taken up by Dr. Umesh M Bhushi, Principal. He gave away certain real life
                        cases to students and urged the participants to come up with their analysis and decisions. He
                        motivated students to be committed to their goals and groom themselves to be a better human
                        being. Prof. Mithun Ullal in his session on “Stress the Press” allowed the students to have a
                        practical feel of media and journalism. Students were enthralled by the activity based learning.
                        The day ended with session by Dr. C K Manjunath, Prof. of Humanities &amp; Administrator who
                        enlightened the students on tackling the barriers to leadership.
                        <br>
                        <br>

                        Our beloved Chairman Manjunath Bhandary addressed the students and asked them to take failures
                        as their reference points instead of blindly following the success stories. He said every person
                        has a leader in him/her. He said every leader must be accountable, committed and responsible for
                        his action and must be able to communicate effectively to his followers. He said a true leader
                        is always disciplined and always transfers his knowledge to others. Finally he thanked all the
                        participants and asked for their actual feedback in order to improvise in the future.
                        <br>
                        <br>

                        The programme was concluded with a brief valedictory session which included certificate
                        distribution and feedback from participants.
                        <br>
                        <br>



                    </td>
                </tr>









                <tr>
                    <td width="511">


                        <h4
                            style="color: #f5720f; text-align:left; font-size:16px;line-height:20px;margin-bottom:10px; margin-top:2px;">
                            Mr. Shrirangaraj N. Mashaldi Senior Manager HPCL Visits Horizon </h4>
                        
                            style="margin-right:8px; margin-bottom:4px;">
                        Mr. Shrirangaraj N. Mashaldi, Senior Manager – RE &amp; MIS, Hindustan Petroleum Corporation
                        Limited, Belgaum, his wife Mrs. Shobha S. Mashaldi, B.E. in Civil Engineering and son Mr. Adarsh
                        S. Mashaldi, who received his Masters in Marine Engineering from Scotland visited the campus and
                        interacted with the Chairman, Mr. Manjunath Bhandary.
                        <br>
                        <br>

                        He appreciated the growth of the institution having been closely associated since its inception.
                        Mr. Mashaldi expressed his happiness having witnessed the Hands-on Experience Lab and said that
                        it is the need of the hour for budding engineers.
                        <br>
                        <br>

                        Mr. Mashaldi was earlier the Sales Officer for LPG distribution in the Shimoga region when our
                        Chairman, Mr. Manjunath Bhandary had just begun his career as an LPG distributor at Shimoga.



                        <br>
                        <br>


                    </td>
                </tr>




                <tr>
                    <td>


                        <h4
                            style="color: #f5720f; text-align:left; font-size:16px;line-height:20px;margin-bottom:10px; margin-top:2px;">
                            Mr. Gokul Das Nayak, Joint Director, District Industries Centre visits Horizon </h4>
                        
                        Mr. Gokul Das Nayak, Joint Director, District Industries Centre, Yeyyadi Industrial Estate,
                        Mangalore visited the campus and interacted with the Chairman, Mr. Manjunath Bhandary, Prof.
                        Richard Pinto, Director, CENT and Dr. C. K. Manjunath, Professor of Humanities &amp;
                        Administrator. He had a site tour &amp; was briefed about the DTlabz and the Nano-center. He
                        appreciated the efforts of Horizon College both in setting up the incubation center and
                        advanced research laboratories.
                        <br>
                        <br>

                    </td>
                </tr>






                <tr>
                    <td width="511">


                        <h4
                            style="color: #f5720f; text-align:left; font-size:16px;line-height:20px;margin-bottom:10px; margin-top:2px;">
                            Internship Certificates Distributed by Mr. V. G. Nayak </h4>
                        
                            
                        Eighty-four students of final year Civil Engineering who underwent an internship training at
                        BSNL, Mangalore, for a period of eight days, were awarded with the internship completion
                        certificates' by Mr. V. G. Nayak, Assistant General Manager, Operation and Training, BSNL,
                        Mangalore and the chief guest at a special function organized on the occasion. Dr U. M. Bhushi,
                        Principal, Mr. Sudeep Shetty, Internship Co-ordinator, Prof Purushothama C T, HOD (UG), Prof
                        Umesh S S, HOD (PG), Department of Civil Engineering were present on the occasion.

                        <br>
                        <br>


                    </td>
                </tr>


                <tr>
                    <td width="511">
                        <h4
                            style="color:#f5720f; font-size:16px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;line-height:22px; margin-bottom:5px; margin-top:0px; text-align:left;">
                            Mr. Chethan Ram speaks on personality development session for faculty members </h4>
                        
                        Mr. Chethan Ram R A, international trainer on personality development, along with Mr. Kumar
                        Anish, an Indian yoga practitioner and personality development trainer from Bangalore, engaged a
                        session on Personality Development for faculty members.
                        <br>
                        <br>

                        He asked the faculty members to modulate the technique of teaching saying that how matter is
                        delivered, will help in achieving 100 percent results. To be successful he said that a SWOT
                        analysis should be made for each student in the class so that one can deal effectively with
                        them. He stated that if one’s personality is enhanced and if additional knowledge is acquired,
                        students will be motivated to achieve the number one position. In a competitive world it is team
                        work that can achieve this in a different way altogether. The 21st century demands that a leader
                        must `know the way, show the way and walk the way’. Mr. Kumar Anish gave tips to maintain a
                        healthy life style. The audience enjoyed the lively presentation.
                        <br>
                        <br>
                    </td>
                </tr>








                <tr>
                    <td width="511">


                        <h4
                            style="color: #f5720f; text-align:left; font-size:16px;line-height:20px;margin-bottom:10px; margin-top:2px;">
                            Orientation programme held for freshers </h4>
                        
                        An orientation programme, `Success, Motivation &amp; Personality Development’ for freshers of
                        the college was conducted by international trainer on personality development Mr. Chethan Ram R
                        A, along with Mr. Kumar Anish, an Indian yoga practitioner and personality development trainer
                        from Bangalore. Mr. Chethan Ram in his talk said that one should be self-motivated and focused
                        on the goal to become successful. He mentioned that each one of us is a gift of nature. How best
                        we make use of our talent, and give our service to the society is what we are gifting back to
                        the nature.
                        <br>
                        <br>

                        Prof. S S Balakrishna, Vice Principal, welcomed the gathering and introduced the guests. Dr. U M
                        Bhushi, Principal, urged the students to make best use of the opportunities provided. About 680
                        students participated in two batches and were greatly inspired by the motivational talks. <br>
                        <br>



                    </td>
                </tr>







                <tr>
                    <td width="511">
                        <h4
                            style="color:#f5720f; font-size:16px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;line-height:22px; margin-bottom:5px; margin-top:0px; text-align:left;">
                            Students Council for the Academic Year 2020-21 </h4>
                        
                        The meeting of all the Class Representatives of Student Council was held in the campus. Prof. S
                        S Balakrishna, Vice Principal, welcomed all the Student Council Heads and motivated the students
                        by narrating a story of a school going boy who took the leadership and became a role model. Dr.
                        U M Bhushi, Principal, motivated all the council heads &amp; other members to make best use of
                        the opportunities provided to them by the institute. He said “A leader should know the way, show
                        the way and take others along with him”. Prof. Rakshith Shetty concluded the meeting by
                        congratulating the students.<br>
                        <br>


                        The following Students have been nominated as Heads for various wings of Student Council for the
                        academic year 2020-21 <br>

                        1. Academic – Ms. Wilma, 4th year EC<br>


                        2. Placement – Ms. Pooja, 4th year CS <br>

                        3. Sports – Ms. Anusha, 4th year EC<br>

                        4. Cultural – Mr. Chinmaya, 4th year CV<br>

                        5. Entrepreneurship – Mr. Lenson, 4th year IS<br>

                        6. Projects &amp; Seminar – Mr. Pranav, 4th year ME<br>

                        7. Clubs- Ms. Sahana, 4th year EC<br>

                        8. Research – Mr. Jeethan, 4th year CV<br>

                        9. Training – Mr. Prajwal, 4th year CS<br>

                        10. Class Representative – Mr. Chethan, 2nd year MBA

                        <br>
                        <br>
                        <br>
                        <br>



                    </td>
                </tr>


















            </tbody>
        </table>
    </div>

    <table width="100%" border="1" cellspacing="0" cellpadding="10" bordercolor="#CCCCCC">
        <tbody>
            <tr>
                <td colspan="2" align="center"
                    style="font-family: Arial; font-size:12px; line-height:17px; text-align:left; color:#666; text-align:center; background-color:#d4ecee ">
                    Editor, HorizoNews, Horizon Educational Institutions<br>
                    Ph : 91 8845 34343 44 <br>
                    E-mail: editorbuzz@horizon.edu.in<br>
                    Website : <a routerLink="/" href=""><span
                            style="color:#666">www.horizon.edu.in</span></a></td>
            </tr>
            <tr>
                <td style="font-family: Arial; font-size:12px; line-height:17px; text-align:justify; color:#666; "
                    align="center">
                    <span style="float:right">Send Your Feedback : <strong>editorbuzz@horizon.edu.in</strong></span>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
</div>